Importing required libraries:

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

Reading the CSV file:

In [7]:
data = pd.read_csv("../data/17006903.csv")
data.shape

(1150, 20)

In [8]:
data.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T
0,1,1,22,22,22,19,18,14,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1,0
1,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
2,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
3,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
4,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1

Features

In [50]:
feature_names = ['quality', 'retinal_abnormality']
feature_names.extend(['feat1_{}'.format(str(i)) for i in range(6)])
feature_names.extend(['feat2_{}'.format(str(i)) for i in range(8)])
feature_names.extend(['dist_of_macula_and_optic_disc', 'diameter_of_optic_disc', 'am_fm_classification', 'dr'])
len(feature_names)

20

In [51]:
data.columns = feature_names

In [53]:
data[data.quality != 0].shape

(1146, 20)

In [54]:
data.head()

,quality,retinal_abnormality,feat1_0,feat1_1,feat1_2,feat1_3,feat1_4,feat1_5,feat2_0,feat2_1,feat2_2,feat2_3,feat2_4,feat2_5,feat2_6,feat2_7,dist_of_macula_and_optic_disc,diameter_of_optic_disc,am_fm_classification,dr
0,1,1,22,22,22,19,18,14,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1,0
1,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
2,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
3,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
4,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1